<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<listeners>
<listener class-name="E2EProject.DemoE2E.Listeners"/>
</listeners>


  <test thread-count="5" name="Validate Home Page">
    <classes>
      <class name="E2EProject.DemoE2E.HomePage"/>
       </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="Validate appTest">
    <classes>
      <class name="E2EProject.DemoE2E.AppTest"/>
       </classes>
  </test> <!-- Test -->
     <test thread-count="5" name="Validate Navigationbar">
    <classes>
      <class name="E2EProject.DemoE2E.ValidateNavBar"/>
       </classes>
  </test> <!-- Test -->
     <test thread-count="5" name="Validate Title">
    <classes>
      <class name="E2EProject.DemoE2E.ValidteTitle"/>
       </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
